{
  "root": true,
  "env": {
    "commonjs": true,
    "es2022": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest",
    "jest-formatting",
    "sonarjs"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic",
    "plugin:sonarjs/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-nested-ternary": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-indexed-object-style": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/method-signature-style": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "indent": [
      "error",
      2
    ],
    "arrow-parens": [
      "error"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  },
  "overrides": [
    {
      "files": [
        "tests/**/*.test.ts"
      ],
      "extends": [
        "plugin:jest/style",
        "plugin:jest/recommended",
        "plugin:jest-formatting/recommended"
      ]
    },
    {
      "parserOptions": {
        "project": [
          "tsconfig.json"
        ]
      },
      "files": [
        "src/**/*.ts"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended-type-checked",
        "plugin:@typescript-eslint/strict-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked"
      ],
      "rules": {
        "@typescript-eslint/no-dynamic-delete": "off",
        "@typescript-eslint/no-unnecessary-condition": "off",
        "@typescript-eslint/consistent-type-exports": "error",
        "@typescript-eslint/prefer-nullish-coalescing": "off",
        "@typescript-eslint/no-misused-promises": [
          "error",
          {
            "checksVoidReturn": false
          }
        ]
      }
    }
  ]
}