# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# Directories
coverage
dist
reports

# Benchmarking
benchmarks/graphs

# Env vars
.env
globalConfig.json