{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "loose": true
  },
  "env": {
    "targets": {
      "node": 18
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}